<html>
    <head>
        <title>Hello Vue</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            {{ message }}
            <h2 v-if="socket.readyState == OPEN">Connected</h2>
            <h2 v-else-if="socket.readyState == CONNECTING">Attempting to connect...</h2>
            <h2 v-else>No connection</h2>
            <li v-for="item in items">
                {{ item.message }}
            </li>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>

</html>