<html>
    <head>
        <title>Hello Vue</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            {{ template }}
            <li v-for="item in items">
                {{ item.message }}
            </li>
        </div>

        <div id="connection-status">
            <connection-status></connection-status>
        </div>

        <div id="demo">
            <button-counter></button-counter>
            <button-counter></button-counter>
            <button-counter></button-counter>
        </div>

    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>

</html>